@import '../../Scss files/responsiveness.scss';
// .slider{
//     display: flex;
//     gap: 20px;
//     width: 100%;
//     height: 350px;
//     .fullslider{
      
//         position: absolute;
//         background-color: black;
//         height: 100vh;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         width: 100vw;
//         display: flex;
//         .arrow{
//            display: flex;
//            align-items: center;
//            justify-content: center;
//             flex: 1;
//             img{
//                 width: 50px;
//                 &.right{
//                     transform: rotate(180deg);
//                 }
//             }
//         }
//         .image{
//             flex: 10;
//             img{
//                 height: 100%;
//                 width: 100%;
//                 object-fit: cover;
//             }
//         }
//         .close{
//             top: 0;
//             right: 0;
//             position: absolute;
//             color: white;
//             font-size: 36px;
//             font-weight: bold;
//             font-family: sans-serif;
//             cursor: pointer;
//             padding: 50px;
//         }
//     }
//     img{
//         height: 100%;
//         border-radius: 10px;
//         object-fit: cover;
//         width: 100%;
//         cursor: pointer;
//         }
//     .big-img{
//         flex: 3;

//     }
//     .small-img{
//         display: flex;
//         flex:1;
//         flex-direction: column;
//         justify-content: space-between;
//         gap: 20px;
//         img{
//             height: 100px;
//             }
//     }
// }
.slider {
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;
  
    @include sm {
      height: 280px;
    }
  
    .fullslider {
      position: absolute;
      width: 100vw;
      height: 100vh;
      overflow-y: hidden;
      top: 0;
      left: 0;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 9999;
  
      .arrow {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 50px;
  
          @include md {
            width: 30px;
          }
  
          @include sm {
            width: 20px;
          }
  
          &.right {
            transform: rotate(180deg);
          }
        }
      }
      .image {
        flex: 10;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .close {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 36px;
        font-weight: bold;
        padding: 50px;
        font-family: sans-serif;
        cursor: pointer;
      }
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
    }
  
    .big-img {
      flex: 3;
  
      @include sm {
        flex: 2;
      }
    }
    .small-img {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
  
      @include sm {
        flex: 1;
      }
  
      img {
        height: 100px;
  
        @include sm {
          height: 80px;
        }
      }
    }
  }