@import '../../Scss files/responsiveness.scss';
.profile{
    display: flex;
    height: 100%;
    @include md{
        flex-direction:column;
        overflow-y: scroll;
    }

    .details{
        flex: 3;
        padding-bottom: 50px;
        overflow-y: scroll;
        @include md{
            flex: none;
            height: max-content;
        }
        .wrapper{
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .title{
                align-items: center;
                display: flex;
                justify-content: space-between;
                font-family: sans-serif     ;
                h1{
                    font-weight: 300;
                }
                button{
                    padding: 12px 24px;
                    background-color: #fece51;
                    cursor: pointer;
                    border: none;
                }


            }
        .info{
            display: flex;
            
            flex-direction: column;
            gap: 20px;
            span{
                display: flex;
                gap: 20px;
                align-items: center;
            }
            button{
                width: 100px;
                background-color: teal;
                border: none;
                color: white;
                border-radius: 20px;
                padding: 10px 20px;
                cursor: pointer;
            }   
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;

            }

        }
        .posts_show{
            
                height: 90vh;
                display:flex ;
                flex-direction: column;
                
                .myposts{
                    flex: 1;
                    
                }
                .saved_posts{
                    flex: 1;                  
                    
                }
        }
    }
}
    .chat{
        @include md{
            flex: none;
            height: max-content;
        }
        display: flex;
        flex: 2;
        background-color:#fcf5f3;
        height: 100%;
        .wrapper{
            padding:0px 20px;
            height: 100%;
        }
   
        
        }
    
}